---
import BaseLayout from '../layouts/BaseLayout.astro'
import BlogPost from '../components/BlogPost.astro'
const allPosts = await Astro.glob('./posts/*.{md,mdx}');
const pageTitle = "posts";
---

<BaseLayout pageTitle = { pageTitle }>
    <p>This is where my posts will pop up.</p>
    <ul>
        {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} pubDate={post.frontmatter.pubDate}/>)}
    </ul>
</BaseLayout>
