---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Tutorial</title>
	</head>
	<body>
        <a href="/">Home</a>
		<h1>about me</h1>
        <p>I'm a computer science student learning web development on the side to create a personal website and have fun.</p>
	</body>
</html>
